

.boxlogin{
	border-radius: 10px;
	box-shadow: 0px 2px 10px #333333;
	margin: 30px auto;
	width: 350px;
}

.jumbotron{
	padding: 30px;
}


input[type="submit"]{
	margin-top: 16px;
}

textarea {
    resize: none;
}

.titulos{
	color:#23527C;
}
